/.metadata/
/.recommenders/
*.properties
*.MF
RevProject2/.project
RevProject2/.classpath
*.MF
*.properties
RevProject2/.classpath
RevProject2/.project
RevProject2/target/classes/com/ex/beans/ServiceType.class
RevProject2/target/classes/com/ex/beans/Shop.class
RevProject2/target/classes/com/ex/beans/StylingService.class
RevProject2/target/classes/com/ex/beans/UserRole.class
RevProject2/target/m2e-wtp/web-resources/META-INF/MANIFEST.MF
RevProject2/target/m2e-wtp/web-resources/META-INF/maven/com.ex/RevProject2/pom.properties
