<div class="container">
  <div class="row">

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >


      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">User Profile Information</h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="https://s3.amazonaws.com/FringeBucket/default-user.png" class="img-circle img-responsive"> </div>
            
            <!--<div class="col-xs-10 col-sm-10 hidden-md hidden-lg"> <br>
              <dl>
                <dt>DEPARTMENT:</dt>
                <dd>Administrator</dd>
                <dt>HIRE DATE</dt>
                <dd>11/12/2013</dd>
                <dt>DATE OF BIRTH</dt>
                   <dd>11/12/2013</dd>
                <dt>GENDER</dt>
                <dd>Male</dd>
              </dl>
            </div>-->
            <div class=" col-md-9 col-lg-9 "> 
              <table class="table table-user-information">
                <tbody>
                    <tr>
                        <td>Name:</td>
                        <td>{{user.fname}} {{user.lname}}</td>
                      </tr>
                  <tr>
                    <td>Email:</td>
                    <td>{{user.email}}</td>
                  </tr>
                  <tr>
                    <td>Join date:</td>
                    <td>06/23/2013</td>
                  </tr>
                  <tr>
                    <td>Date of Birth</td>
                    <td>01/24/1988</td>
                  </tr>
               
                     <tr>
                         <tr>
                    <td>Gender:</td>
                    <td>Male</td>
                  </tr>
                    <td>Phone Number</td>
                    <td>123-4567-890</td>
                       
                </tbody>
              </table>

              <button (click)="appointments()">See Your Appointments</button>
              
            </div>
          </div>
        </div>
             
        
      </div>
    </div>
  </div>
</div>