#info {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;

  }
  
  #info td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;

  }
  
  #info tr:nth-child(even){background-color: #f2f2f2;}
  
  #info tr:hover {background-color: #ddd;}
  
  #info th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(59, 160, 190);
    color: white;
  }

.container{
  margin:auto;
  max-width: 600px;
  background-color: #eee;
  margin-top: 30px;
  border: solid 1px;
}
#inner{
  padding: 20px;
}