<div id="loginBody">
  <h2>Register</h2>
  <div class="row">
    <label class="col" for="username">Username</label>
    <input class="form-control" type="text" name="username" [(ngModel)]="username" (blur)="usernameBlur()" placeholder="Username">
    <div class="loginMessage">{{usernameMessage}}</div>
  </div>
  <div class="row">
    <label class="col" for="email">Email</label>
    <input class="form-control" type="email" name="email" [(ngModel)]="email" (blur)="emailBlur()" placeholder="Email">
    <div class="loginMessage">{{emailMessage}}</div>
  </div>
  <div class="row">
    <label class="col" for="fname">First Name</label>
    <input class="form-control" type="text" name="fname" [(ngModel)]="fname" placeholder="First Name">
  </div>
  <div class="row">
    <label class="col" for="lname">Last Name</label>
    <input class="form-control" type="text" name="lname" [(ngModel)]="lname" placeholder="Last Name">
  </div>
  <div class="row">
    <label class="col" for="password">Password</label>
    <input class="form-control" type="password" name="password" [(ngModel)]="password" (blur)="passwordBlur()" placeholder="Password">
    <div class="loginMessage">{{passwordMessage}}</div>
  </div>
  <div class="row">
    <label class="col" for="confirmPassword">Confirm Password</label>
    <input class="form-control" type="password" name="confirmPassword" [(ngModel)]="confirmPassword" (blur)="passwordBlur()" placeholder="Confirm Password">
  </div>
  <div class="row">
      <label class="col" for="role">Role</label>
    <select class="form-control" [(ngModel)]="userRole" name="role">
      <option value="User" selected>Customer</option>
      <option value="Barber">Barber</option>
    </select>
  </div>
  <div class="row" *ngIf="userRole == 'Barber'">
    <label class="col" for="website">Website</label>
    <input class="form-control" type="text" name="website" [(ngModel)]="website" placeholder="Website">
  </div>
  <div class="row" *ngIf="userRole == 'Barber'">
    <label class="col" for="shops">Shop</label>
    <select class="form-control" name="shops" [(ngModel)]="selectedShop">
      <option *ngFor="let shop of shops" [value]="shop.id">{{shop.name}}</option>
    </select>
  </div>
  <div>
    <button id="registerButton" class="btn btn-primary" (click)="register()">Register</button>
  </div>
</div>