#loginBody {
    text-align: center;
    margin: 30px;
    border: solid 1px;
    padding: 30px;
}

input{
    display: inline;
    width: 200px;
    float: right;
    height:28px;
}
select{
    display: inline;
    width: 200px;
    float: right;
    padding: 0px;
    padding-left:6px;
}

.loginMessage{
    clear: both;
}

.row{
    margin-top: 4px;
}

#registerButton{
    margin-top: 10px;
}