#loginBody {
    text-align: center;
    margin: 30px;
    border: solid 1px;
    padding: 30px;
}

input{
    display: inline;
    width: 200px;
    float: right;
    height:28px;
}
select{
    display: inline;
    width: 200px;
    float: right;
    height:28px;
    margin: 5px;
}

.loginMessage{
    clear: both;
}