.container{
    text-align: center;
    margin: auto;
}
h1{
    margin-top: 5vh;
}
#reviews{
    margin: auto;
}
#rating{
    width: 80px;
    margin: auto;
}
#comment{
    overflow: hidden;
    height:50px;
}
