<div class="container">
  <h1>{{this.firstname + " " + this.lastname}}</h1>
  <h4>{{this.website}}</h4>
  <table id="reviews">
      <thead>
          <th>Rating</th>
          <th>Comment</th>
      </thead>
      <tbody>
          <tr *ngFor="let barberReview of reviews">
              <td>{{barberReview.rating}}</td>
              <td>{{barberReview.comment}}</td>
          </tr>
      </tbody>
  </table>
  <input id="rating" class="form-control" type="number" min="0" max="100" [(ngModel)] ="rating" name="rating">
  <textarea id="comment" cols="60" placeholder="Add a comment" [(ngModel)] ="comment" name="comment"></textarea>
  <br>
  <button id="addButton" class="btn btn-primary" (click)="addReview()">Add Review</button>
</div>
