<div class="container">
    <h1>{{this.firstname + " " + this.lastname}}</h1>
    <h4 (click)="sendToShop()">Working at {{this.shopname}}</h4>
    <h4><a href="#">{{this.website}}</a></h4>

    <div id="accordion" role="tablist">
        <div class="card">
            <div class="card-header" role="tab" id="headingOne">
                <h5 class="mb-0">
                    <a data-toggle="collapse" href="#collapseOne" role="button" aria-expanded="false" aria-controls="collapseOne">
                        View Services
                    </a>
                </h5>
            </div>

            <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    <h2 class="tableTitle">Services Offered</h2>
                    <table id="ServicesTable" class="table table-striped">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Description</th>
                                <th>Price</th>
                                <th>Type</th>
                            </tr>
                        </thead>
                        <tbody id="servicesBody">
                            <tr *ngFor="let s of services">
                                <td>{{s.id}}</td>
                                <td>{{s.description}}</td>
                                <td>${{s.price}}</td>
                                <td>{{s.type.type}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div *ngIf="isLogged">

                        <div id="addS">
                            <div id="descriptionDiv">
                                <h5 class="ui top attached header">Description</h5>
                                <div id="descriptionBox" class="ui attached segment">
                                    <textarea id="description" cols="40" placeholder="Add description of service..." [(ngModel)]="description" name="description"></textarea>
                                </div>
                            </div>
                            <div id="priceDiv">
                                <h5 class="ui top attached header">Price</h5>
                                <div id="priceBox" class="ui attached segment">
                                    $
                                    <input id="priceInput" class="form-control" type="number" [(ngModel)]="price" name="price" step="1.00" placeholder="0.00">
                                </div>
                            </div>
                            <div id="typeDiv">
                                <h5 class="ui top attached header">Type</h5>
                                <div id="typeBox" class="ui attached segment">
                                    <select id="type" [(ngModel)]="serviceType">
                                        <option value="1">Haircut</option>
                                        <option value="2">Shave</option>
                                        <option value="3">Shampoo</option>
                                        <option value="4">Fade</option>
                                        <option value="5">Edgeups</option>
                                        <option value="6">Beard Trim</option>
                                        <option value="7">Waxing</option>
                                        <option value="8">Other</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <button id="newServiceButton" class="ui primary button" (click)="addService()">Add New Service</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="accordion2" role="tablist">
        <div class="card">
            <div class="card-header" role="tab" id="headingTwo">
                <h5 class="mb-0">
                    <a data-toggle="collapse" href="#collapseTwo" role="button" aria-expanded="false" aria-controls="collapsetwo">
                        View Reviews
                    </a>
                </h5>
            </div>

            <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion2">
                <div class="card-body">
                    <h2 class="tableTitle">Reviews</h2>
                    <table id="reviewsTable" class="table table-striped">
                        <thead>
                            <tr>
                                <th style="width: 90px">
                                    Rating
                                </th>
                                <th>
                                    Comment
                                </th>
                            </tr>
                        </thead>
                        <tbody id="reviewsBody">
                            <tr *ngFor="let barberReview of reviews">
                                <td>
                                    <sui-rating class="star" id="rating1" [ngModel]="barberReview.rating" [maximum]="5"></sui-rating>
                                </td>
                                <td style="text-align:left;">{{barberReview.comment}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div *ngIf="!isBarber">
                        <button id="newReviewButton" class="ui primary button" (click)="open()">Add New Review</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="!isLogged">
        <div id="accordion3" role="tablist">
            <div class="card">
                <div class="card-header" role="tab" id="headingThree">
                    <h5 class="mb-0">
                        <a data-toggle="collapse" href="#collapseThree" role="button" aria-expanded="false" aria-controls="collapsethree">
                            Schedule an Appointment
                        </a>
                    </h5>
                </div>

                <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion3">
                    <div class="card-body">

                        <ngb-datepicker #dp [(ngModel)]="model" (navigate)="date = $event.next" (click)="getTimeslots()"></ngb-datepicker>
                        <div>
                        </div>
                        <select id="timeSelect" [(ngModel)]="scheduleDate">
                            <option *ngFor="let timeSlot of availableTimeslots; let i = index" [value]="i">
                                {{timeSlot | date: 'shortTime'}}
                            </option>
                        </select>
                        <select id="serviceSelect" [(ngModel)]="scheduleService">
                            <option *ngFor="let se of services; let j = index" [value]="j">
                                {{se.id}}
                            </option>
                        </select>
                        <button id="newAppButton" class="ui primary button" (click)="addAppointment()">Add New Appointment</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="isLogged">
        <div id="accordion4" role="tablist">
            <div class="card">
                <div class="card-header" role="tab" id="headingFour">
                    <h5 class="mb-0">
                        <a data-toggle="collapse" href="#collapseFour" role="button" aria-expanded="false" aria-controls="collapsefour">
                            My Appointments
                        </a>
                    </h5>
                </div>

                <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour" data-parent="#accordion4">
                    <div class="card-body">
                            <h2 class="tableTitle">Appointments</h2>
                            <table id="barberAppointmentsTable" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Date/Time</th>
                                        <th>Customer</th>
                                        <th>Service</th>
                                    </tr>
                                </thead>
                                <tbody id="appointmentsBody">
                                    <tr *ngFor="let a of appointments; let i = index">
                                        <td>{{myAppointmentDates[i]}}</td>
                                        <td>{{a.customer.fname}} {{a.customer.lname}}</td>
                                        <td>{{a.stylingService.description}}</td>
                                    </tr>
                                </tbody>
                            </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <ng-template let-context let-modal="modal" #modalTemplate>
        <div class="header">Add New Review For {{this.firstname}} {{this.lastname}}</div>
        <div class="content">
            <div id="addR">
                <div id="ratingDiv">
                    <h5 class="ui top attached header">Rating</h5>
                    <div id="ratingBox" class="ui attached segment">
                        <sui-rating class="star" id="rRating" [(ngModel)]="rating" [maximum]="5"></sui-rating>
                    </div>
                </div>
                <div id="commentDiv">
                    <h5 class="ui top attached header">Comment</h5>
                    <div id="commentBox" class="ui attached segment">
                        <textarea id="comment" cols="40" placeholder="Add a comment..." [(ngModel)]="comment" name="comment"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div id="actions" class="actions">
            <button class="ui red button" (click)="modal.deny('denied')">Cancel</button>
            <button class="ui green button" (click)="modal.approve('approved')" autofocus>Add</button>
        </div>
    </ng-template>

    <!-- 
    <i class="fa fa-user">
    </i>
    <fa name="cog" animation="spin"></fa> -->
</div>