.container{
    text-align: center;
    margin: auto;
}
h1{
    margin-top: 5vh;
}
#reviewsTable{
    margin: auto;
    width: 300px;
}
th, td{
    margin: 0;
    padding: 6px;
    border: solid 1px;
}
.reviewsRatings{
    width: 30px;
}
#addR{
    margin: auto;
    margin-top: 10px;
    width:424px;
}
#ratingDiv{
    width: 120px;
    float:left;
}
#rRating{
    padding-top: 18px;
}
#ratingBox{
    height: 78px;
}
#commentDiv{
    width: 300px;
    float: left;
}
#comment{
    overflow: hidden;
    height:50px;
}
#commentBox{
    height: 78px;
}
#addButton{
    margin-top: 10px;
}
