#loginBody {
    text-align: left;
    border: solid 1px;
    padding: 30px;
}
h2{
    margin-bottom:15px;
}

.loginMessage{
    clear: both;
}

.container{
    background-color: #eee;
    margin:auto;
    margin-top: 30px;
}

.row{
    margin-top:4px;
}

input{
    max-width: 300px;
}