<div class="container" id="loginBody">
  <h2>Register Your Shop</h2>
  <div class="row">
    <label class="col" for="shopName"><b>Name of Shop:</b></label>
    <input class="col" type="text" name="shopName" [(ngModel)]="name" placeholder="name">
    <div class="col"></div>    
  </div>
  <!-- <div>
          <label for="lat">Latitude</label>
          <input type="number" name="lat" [(ngModel)]="latitude" placeholder="x coordinate">
        </div>
        <div>
          <label for="long">Longitude</label>
          <input type="number" name="long" [(ngModel)]="longitude" placeholder="y coordinate">
        </div> -->
  <div class="row">
    <label class="col" for="phone"><b>Phone Number:</b></label>
    <input class="col" type="text" name="phone" [(ngModel)]="phone" (blur)="phoneBlur()" placeholder="813-###-####">
    <div class="col"></div>
    
    <div>{{phoneMessage}}</div>
  </div>
  <div class="row">
    <label class="col" for="website"><b>Website:</b></label>
    <input class="col" type="text" name="website" [(ngModel)]="website" placeholder="barbrshop.com">
    <div class="col"></div>
    
  </div>
  <div class="row">
    <label class="col" for="address"><b>Address:</b></label>
    <input class="col" type="text" name="address" [(ngModel)]="address" (blur)="addressBlur()" placeholder="#### street name">
    <div class="col"></div>    
    <div>{{addressMessage}}</div>
  </div>
  <div class="row">
    <label class="col" for="description"><b>Description of Your Shop:</b></label>
    <input class="col" type="text" name="description" [(ngModel)]="description" placeholder="...">
    <div class="col"></div>    
  </div>
  <!-- <div>
          <label for="hoursOfOperation">Hours of Operation</label>
          <input type="text" name="hoursOfOperation" [(ngModel)]="hoursOfOperation" placeholder="hoursOfOperation">
        </div> -->
  <div>
    <button class="btn" (click)="register()"><b>Register Shop</b></button>
  </div>
</div>