<div class="card">
  <h2 class="text-center">Find a Shop</h2>
  <div class="row">
    <div class="col-2"></div>
    <div class="col-1 text-right">
      <label>Address: </label>
    </div>
    <div class="col-2">
      <input [(ngModel)]="address" type="text" placeholder="Address or Zip Code">
    </div>
    <div class="col-1 text-right">
      <label>Radius: </label>
    </div>
    <div class="col-2">
      <input type="number" [(ngModel)]="radius">
    </div>
    <div class="col">
      <button class="btn btn-primary" (click)="search()">Search</button>
    </div>
    <div class="col-3"></div>
  </div>
  <ng2-map zoom="12" class="map" id="map" center="Tampa, FL" (mapReady$)="onMapReady($event)">
    <marker *ngFor="let shop of shops" [position]="{lat: shop.latitude, lng: shop.longitude}" [label]="shop.name" (click)="selectShop(shop)"></marker>
  </ng2-map>
</div>



<app-shop *ngFor="let shop of shops" id="{{shop.id}}" [shop]="shop"></app-shop>