<div *ngIf="shop" class="jumbotron">
  <h1>{{ shop.name }}</h1>
  <div class="container">
    <div class="row">
      <div class="col">
        <b>Address:</b> {{ shop.address }}
      </div>
      <div class="col">
        <b>Hours of Operation:</b> {{ hoursOfOp }}
      </div>
      <div class="col"></div>
      <div class="col"></div>
      <div class="col"></div>
      <div class="col"></div>

    </div>
    <div class="row">
      <div class="col">
        <b>Website:</b> {{ shop.website }}
      </div>
      <div class="col">
        <b>Phone:</b> {{ shop.phone }}
      </div>
      <div class="col"></div>
      <div class="col"></div>
      <div class="col"></div>
      <div class="col"></div>

    </div>
  </div>

  <h4>Select Barber:</h4>
  <div *ngFor="let e of employees">
    <div id="employee" class="container" (click)="loadBarber(e.id)">
      <h4> {{e.fname}} {{e.lname}} </h4>
    </div>
  </div>
</div>