<div id="loginBody">
  <h2>Login</h2>
  <div id="usernameInput" class="inputField">
    <label for="username">Username: </label>
    <input class="form-control" type="text" [(ngModel)] ="username" name="username" placeholder="Username">
  </div>
    <div id="passwordInput" class="inputField">
      <label id="passlabel" for="password">Password: </label>
      <input class="form-control" type="password" [(ngModel)]= "password" name="password" placeholder="Password">
    </div>
  <button id="loginButton" class="btn btn-primary" (click)="login()">Login</button>
  <ngb-alert *ngIf="loginmessage" (click)="closeMessage()" type="danger">{{loginmessage}}</ngb-alert>
</div>

